<h2> Process Results </h2>

<h3> Active plays for the week: </h3>



<%= button_to "Process Results for this Week", :class => "btn primary", {:controller => :plays, :action => :process_results}, :method => :post %>
