

	<h2> Selection Details </h2>

	<br/>
	<br/>

	<div class="details">
	  
	  <p><strong><%= @play.game.index_favorite + " (-#{@play.game.line})" + " vs. " + @play.game.index_underdog %>   </strong></p>

	  <p><strong> Total: </strong> <%= @play.game.total %> </p> 

	  <p> <strong> Play last updated on: </strong> <%= @play.updated_at.localtime.strftime('%B %d, %Y %l:%M%P') %>   </p>
	  

		<p>
		<strong> Your Selection: </strong>
			<%= @play.selection %>

		</p>

	</div>
