<p id="notice"><%= notice %></p>
<p>
  <b>Home team:</b>
  <%= @play.game.home_team %>
</p>

<p>
  <b>Visitor team:</b>
  <%= @play.game.visitor_team %>
</p>

<p>
<strong> Your Selection </strong>
	<%= @play.selection %>

</p>