/*
 * Application specific styles
 *
 * 
 * 
 *
 * 
 *
 *
*/


/* Layout  */

#sidebar{
	min-height: 400px;
}


/* Utility Classes */





/* colors */

.red { color: #941515;}
.blue { color: #000046;}
.green { color: #222601;}