<h3>About</h3>
<p>This site was created to track the annual NFL handicapping contest in the Reverse Double Fishhook Fantasy league. It's been a part of the league for the last 4 years and is open to anyone.</p>

<h3> Rules </h3>
<p> The rules are simple. There is a fixed buy in, paid at the beginning of the season, that gets you entry into the contest. Each week, either at this site or the ESPN fantasy site, you submit 6 picks, either against the spread or over/under on the lineup for that games this week. Each week wins and losses are added up and a running percentage and standings are maintained throughout the year. At the end of Week 17, the player with the highest win percentage wins. More places could pay out if there are more than 6 players. </p>

<h3> Specifics </h3>

<p> Some specifics about the rules/guidelines are below </p>

<ul>
	<li>Lines will be posted by Wednesday afternoon, unless there is a Wednesday game in which case they will be posted Tuesday.</li>
	<li>You are to make 6 plays each week. Any picks not submitted for the week count as a loss.</li>
	<li>All plays must be finalized before a specified time (usually kickoff). Plays created after the time will not count.</li>
	<li>You cannot pick both sides of the same game to protect yourself (e.g Pick both Favorite and Underdog)</li>
	<li>Picks can be created here, on the website for fantasy, or called/emailed/texted to the league admin. Again, if you don't get your picks in, it's on you.</li>
	<li> You can submit picks anonymously, however the results of all picks will be displayed after each week </li>
</ul>

<h3> Some alternative rules </h3>

<p> These rules aren't currently in place, however are being used in some other large handicapping contests, notably the big one ran every season at the Hilton in Las Vegas. Some potential ideas are below: </p>

<ul>
	<li>Pushes count for 1/2 a win. Currently, pushes count as nothing.</li>
	<li>Some sort of bonus for a perfect 6-0 week. Some techniques used are awarding a bonus win (so you would get credit for 7-0), or some other bonus/incentive to keep people playing.</li>
	<li>Once a week, allow players to optionally designate a play as a "lock".  If the player wins a lock bet, they are credited with 2 wins. (So a 6-0 week, with a lock pick, would count as 8-0). However, losing a lock bet counts as 2 losses.</li>
</ul>

<p>If there's any interest in using any of these new rules, or any other ideas/suggestions, just let me know and we'll take a look at it.</p>