<h3 class="dark_red">About</h3>
<p>This site was created to track the annual NFL handicapping contest in the Reverse Double Fishhook Fantasy league. It's been a part of the league for the last 4 years and is open to anyone.</p>

<h3 class="dark_red"> Overview </h3>
<p> The rules are simple. There is a fixed buy in, paid at the beginning of the season, that gets you entry into the contest. Each week, either at this site or the ESPN fantasy site, you submit 6 picks, either against the spread or over/under on the lineup of games that week. Throughout the season, wins and losses are added up (pushes count as nothing), and players are ranked by total winning percentage. At the end of Week 17, the player with the highest win percentage wins the contest.
<h3 class="dark_red"> Rules </h3>

<p> Some specifics about the rules/guidelines are below: </p>

<ul>
	<li>Lines will be posted and remain frozen throughout the week by Wednesday afternoon at 3pm, unless there is a Wednesday game in which case they will be posted Tuesday 3pm.</li>
	<li>You are to make 6 picks each week. Any picks not submitted for the week count as a loss.</li>
	<li>Depending on the games set kickoff time, each game has a deadline for making a pick on that game. After the deadline passes, you will not be able to pick the game, no exceptions.</li>
	<li> The deadline for each game is 5 minutes before the <strong>posted</strong> kickoff time. So, 1:00 PM kickoff games will have a deadline of 12:55. 4:05 PM kickoffs will have a deadline of 4:00, etc. Yes I realize this is earlier than before but it is only five minutes and this makes everything easier. </li>	
	<li>You cannot pick both sides of the same game to protect yourself (e.g Pick both Favorite and Underdog)</li>
	<li>You can submit picks anyway you like. You don't have to use this site, I just created it to make my life easier running the contest.You can create picks on here, on the website for fantasy, or called/emailed/texted to the league admin.</li>
	<li> Any picks you submit through this site cannot be viewed by other players while they are still pending. All results, will however be available for review after the standings have been updated each week.</li>
</ul>

<h3 class="dark_red"> Proposed Rule Changes/Additions </h3>

<p> These rules aren't currently in place, however are being used in some other large handicapping contests, notably the big one ran every season at the Hilton in Las Vegas. Some potential ideas are below: </p>

<ul>
	<li>Pushes count for 1/2 a win. Currently, pushes count as nothing.</li>
	<li>Awarding a bonus win for a perfect 6-0 week (so you would effectively go 7-0). The 6-0 week is a pretty rare feat, usually only ocurring a few times each season.</li>
	<li>Once a week, allow players to optionally designate a play as a "lock".  If the player wins a lock bet, they are cited with 2 wins. (So a 6-0 week, with a lock pick, would count as 8-0/7-0). However, losing a lock bet counts as 2 losses.</li>
</ul>

<p>If there's any interest in using any of these new rules, or any other ideas/suggestions, just let me know and we'll take a look at it.</p>