/*
 * Application specific styles
 *
 * 
 * 
 *
 * 
 *
 *
*/
@font-face {
    font-family: "Nevis";
    src: url(nevis.ttf);
}

@font-face {
    font-family: "Alte";
    src: url(AlteHaasGroteskRegular.ttf);
}

/* Layout  */




/* Utility Classes */

.red { color: #CF221D; } /*#AC020D; *//*#920402; #750009;}*/
.dark_red { color: #A60000;}
.blue { color: #070A40;}
.dark_blue {color: #112E78;}
.green { color: #222601;}
.orange {color: #8F3212;} /*#8F3812;} */
.burnt_orange { color: #ff7400; }
/* Adds grey border and 5px padding. Useful for debugging */
.bordered {border: 1px solid #444; padding: 5px;}
.underline{text-decoration: underline;}
.brown{color: #46281D;}
.teal { color: #009999;}


a.blue_hover:hover{
  background: navy;
}

a.green_hover{

}
/* game display */

.game_display {
  border: 1px solid #444; 
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 85%;
  height: 100%;
  margin-bottom: 5px;
}

.game_display:hover{
  .border: 1px solid red;
}
.game_details{
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#game_matchup{
  float:right;

  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 40%;
}

/* play display */

#play_form{
  padding: 10px;
  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 85%;
  margin-left: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);

}