/*
 * Application specific styles
 *
 * 
 * 
 *
 * 
 *
 *
*/
@font-face {
    font-family: "Nevis";
    src: url(nevis.ttf);
}

@font-face {
    font-family: "Alte";
    src: url(AlteHaasGroteskRegular.ttf);
}

/* Layout  */

#sidebar{
	min-height: 400px;
	margin-top: none;
}


/* Utility Classes */

.red { color: #920402; /*#750009;*/}
.blue { color: #000046;}
.green { color: #222601;}

/* Adds grey border and 5px padding. Useful for debugging */
.bordered {border: 1px solid #444;}